<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.sleepnow.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Sleep Now</name>
    <description>
        Sleep Now
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Sleep Now
    </author>
    
    <plugin name="cordova-plugin-whitelist" spec="~1.2.0" />
    <plugin name="cordova-plugin-statusbar" spec="2.4.3" />
    <plugin name="cordova-plugin-dialogs" spec="2.0.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="3.1.0" />
    <plugin name="cordova-plugin-device" spec="2.0.3" />
    <plugin name="cordova-plugin-file" spec="6.0.2" />
    <plugin name="cordova-plugin-keyboard" spec="1.2.0" />
    <plugin name="cordova-plugin-media" spec="5.0.3" />

    <plugin name="cordova-plugin-qrscanner" spec="~3.0.1" />

    <plugin name="cordova-plugin-camera" source="npm" />
	<plugin name="cordova-plugin-ios-camera-permissions" source="npm" />
	
	<plugin name="cordova-plugin-media-capture" source="npm" spec="*">
	  <variable name="CAMERA_USAGE_DESCRIPTION" value="Precisamos de acesso a camera de seu celular." />
	  <variable name="MICROPHONE_USAGE_DESCRIPTION" value="Precisamos de acesso ao microfone para gravar sons." />
	  <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="Precisamos de acesso a galeria de fotos do seu celular." />
	</plugin>
	
	<edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
	    <string>Precisamos de acesso a camera de seu celular.</string>
	</edit-config>
	
	<edit-config target="NSMicrophoneUsageDescription" file="*-Info.plist" mode="merge">
	    <string>Precisamos de acesso ao microfone para gravar sons.</string>
	</edit-config>
	
	<edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
	    <string>Precisamos de acesso a galeria de fotos do seu celular.</string>
	</edit-config>

	<feature name="http://api.phonegap.com/1.0/network" />
	<feature name="http://api.phonegap.com/1.0/camera" />
	<feature name="http://api.phonegap.com/1.0/notification" />
	<feature name="http://api.phonegap.com/1.0/geolocation" />
	<feature name="http://api.phonegap.com/1.0/media" />
	<feature name="http://api.phonegap.com/1.0/contacts" />
	<feature name="http://api.phonegap.com/1.0/file" />
	<feature name="http://api.phonegap.com/1.0/battery" />
	<feature name="http://api.phonegap.com/1.0/device" />

    
    <content src="index.html" />

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <allow-navigation href="*" />

    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="Suppresses3DTouchGesture" value="true" />
    <preference name="Allow3DTouchLinkPreview" value="false" />
    <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="phonegap-version" value="cli-9.0.0" />
	<preference name="orientation" value="portrait" />
	<preference name="target-device" value="handset" />
	<preference name="fullscreen" value="true" />
	<preference name="detect-data-types" value="true" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="auto-hide-splash-screen" value="true" />
	<preference name="disable-cursor" value="false" />
	<preference name="stay-in-webview" value="false" />
    <preference name="UseSwiftLanguageVersion" value="4" />
    <preference name="SwiftVersion" value="4.2" />
    
    <platform name="android">
      <preference name="StatusBarOverlaysWebView" value="false" />
      <preference name="android-minSdkVersion" value="21" />
      <preference name="SplashMaintainAspectRatio" value="true" />
      <splash density="land-hdpi" src="res/screen/splash.png" />
      <splash density="land-mdpi" src="res/screen/splash.png" />
      <splash density="land-xhdpi" src="res/screen/splash.png" />
      <splash density="land-xxhdpi" src="res/screen/splash.png" />
      <splash density="land-xxxhdpi" src="res/screen/splash.png" />
      <splash density="port-hdpi" src="res/screen/splash.png" />
      <splash density="port-mdpi" src="res/screen/splash.png" />
      <splash density="port-xhdpi" src="res/screen/splash.png" />
      <splash density="port-xxhdpi" src="res/screen/splash.png" />
      <splash density="port-xxxhdpi" src="res/screen/splash.png" />
        <icon src="res/android/icon-36x36.png" density="ldpi" />
        <icon src="res/android/icon-48x48.png" density="mdpi" />
        <icon src="res/android/icon-72x72.png" density="hdpi" />
        <icon src="res/android/icon-96x96.png" density="xhdpi" />
        <icon src="res/android/icon-144x144.png" density="xxhdpi" />
        <icon src="res/android/icon-192x192.png" density="xxxhdpi" />
    </platform>

    <platform name="ios">
        <preference name="StatusBarOverlaysWebView" value="true" />
        <splash src="res/screen/splash.png" />
        <icon src="res/ios/icon-29x29.png" width="29" height="29" />
        <icon src="res/ios/icon-40x40.png" width="40" height="40" />
        <icon src="res/ios/icon-50x50.png" width="50" height="50" />
        <icon src="res/ios/icon-57x57.png" width="57" height="57" />
        <icon src="res/ios/icon-58x58.png" width="58" height="58" />
        <icon src="res/ios/icon-60x60.png" width="60" height="60" />
        <icon src="res/ios/icon-72x72.png" width="72" height="72" />
        <icon src="res/ios/icon-76x76.png" width="76" height="76" />
        <icon src="res/ios/icon-80x80.png" width="80" height="80" />
        <icon src="res/ios/icon-87x87.png" width="87" height="87" />
        <icon src="res/ios/icon-100x100.png" width="100" height="100" />
        <icon src="res/ios/icon-114x114.png" width="114" height="114" />
        <icon src="res/ios/icon-120x120.png" width="120" height="120" />
        <icon src="res/ios/icon-144x144.png" width="144" height="144" />
        <icon src="res/ios/icon-152x152.png" width="152" height="152" />
        <icon src="res/ios/icon-167x167.png" width="167" height="167" />
        <icon src="res/ios/icon-180x180.png" width="180" height="180" />
        <icon src="res/ios/icon-228x228.png" width="228" height="228" />
        <icon src="res/ios/icon-512x512.png" width="512" height="512" />
        <icon src="res/ios/icon-1024x1024.png" width="1024" height="1024" />
    </platform>

</widget>