/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

.statusbar-overlay {
    background: #000000;
}

.navbar {
    background: #7cdcfb !important;
    height:60px;
}

.navbar:after {
    background: transparent !important;
}

.text-color-white {
    color:#FFF;
}

.panel {
    background: #FFF;
}

.lateral-usuario {
    padding:0px 0px 20px 10px;
}

.lateral-usuario-imagem {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 40px;
    background: #000;
}

.lateral-usuario-info {
    margin-left:60px;
}

.lateral-usuario-info-nome {
    font-weight:bold;
    font-size:16px;
    color:#000;
    padding-top:4px;
}

.lateral-usuario-info-email {
    color:#444;
    font-size:12px;
}

.lateral-links {
    font-size:12px;
    padding-top:40px;
}

.lateral-links-item {
    color:#000;
    padding: 15px 0px;
    border-top:1px solid #FFF;
    border-color:rgba(255,255,255,0.1);
}

.lateral-links-item i {
    display:inline-block;
    width:36px;
    text-align:center;
    font-size:16px;
}


.navbar-fixed .page-content, .navbar-through .page-content {
    padding-top: 60px;
}

.toolbar {
    background:#ebebeb;
    -webkit-box-shadow:inset 0 3px 5px 0 rgba(0,0,0,0.1);
    box-shadow:inset 0 3px 5px 0 rgba(0,0,0,0.1);
}

.toolbar .slider-botton {
    width: calc(100% - 50px);
    height:36px;
    float: left;
    background: #7cdcfb !important;
    border-radius: 5px;
    margin:5px 0px 0px 5px;
}

.toolbar .slider-botton-icon {
    width: 32px;
    height: 32px;
    float: left;
    color:#FFF;
    background: #000;
    font-size:16px;
    text-align:center;
    display: flex;
    align-items:center;
    justify-content:center;
    border-radius: 4px;
    margin: 2px;
}

.slider-botton-texto {
    width: calc(100% - 36px);
    height:36px;
    float: left;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content:center;
    text-transform: uppercase;
    font-size:14px;
    font-weight: bold;
}

.toolbar .sidebar-botton{
    width:36px;
    height:36px;
    float: right;
    background:#FFF;
    color:#000;
    font-size:16px;
    text-align:center;
    display: flex;
    align-items:center;
    justify-content:center;
    border-radius: 5px;
    margin:5px 5px 0px 0px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    :root {
      --f7-device-pixel-ratio: 2;
    }
  }
  @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
    :root {
      --f7-device-pixel-ratio: 3;
    }
  }