/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

button { -webkit-appearance: none; }
input[type=button] { -webkit-appearance: none; }
input[type=submit] { -webkit-appearance: none; }


body {
    background: #4c359c;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    zoom:1;
	padding-top: constant(safe-area-inset-top);
	padding-top: env(safe-area-inset-top);
}

.page-content   { background:#FFF !important; }

.statusbar-overlay {
    background: #4c359c !important;
    display: none !important;
}

.navbar {
    background: white !important;
    color: #4c359c !important;
    height:60px;
}

.navbar:after {
    background: transparent !important;
}

.navbar .text-color-white {
    color:#4c359c !important;
}

.navbar .color-white {
    color:#4c359c !important;
}

.panel {
    background: #FFF;
}

.lateral-usuario {
    padding:20px 0px 20px 10px;
}

.lateral-usuario-imagem {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 40px;
    background: #000;
}

.lateral-usuario-info {
    margin-left:60px;
}

.lateral-usuario-info-nome {
    font-weight:bold;
    font-size:16px;
    color:#000;
    padding-top:4px;
}

.lateral-usuario-info-email {
    color:#444;
    font-size:12px;
}

.lateral-links {
    font-size:12px;
    padding-top:40px;
}

.lateral-links-item {
    color:#000;
    padding: 15px 0px;
    border-top:1px solid #FFF;
    border-color:rgba(255,255,255,0.1);
}

.lateral-links-item i {
    display:inline-block;
    width:36px;
    text-align:center;
    font-size:16px;
    color:#4c359c !important;
}

.content-block {
    padding:20px 10px;
}

.toolbar {
    background-color:#ebebeb !important;
    -webkit-box-shadow:inset 0 3px 5px 0 rgba(0,0,0,0.1);
    box-shadow:inset 0 3px 5px 0 rgba(0,0,0,0.1);
}

.toolbar .slider-botton {
    width: calc(100% - 50px);
    height:36px;
    float: right;
    background: #e89110 !important;
    border-radius: 60px;
    margin:5px 5px 0px 0px;
}

.toolbar .slider-botton-icon {
    width: 32px;
    height: 32px;
    float: left;
    color:#FFF;
    background: #000;
    font-size:16px;
    text-align:center;
    display: flex;
    align-items:center;
    justify-content:center;
    border-radius: 60px;
    margin: 2px;
}

.slider-botton-texto {
    width: calc(100% - 36px);
    height:36px;
    float: left;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content:center;
    text-transform: uppercase;
    font-size:14px;
    font-weight: bold;
    color:#FFF;
}

.slider-botton-texto i {
    padding-right:10px;
}

.toolbar .sidebar-botton{
    width:36px;
    height:36px;
    float: left;
    background:#FFF;
    color:#000;
    font-size:16px;
    text-align:center;
    display: flex;
    align-items:center;
    justify-content:center;
    border-radius: 60px;
    margin:5px 0px 0px 5px;
}

.login { background-color:#4c359c !important; }

.qrcode-container {
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background-color:rgba(0,0,0,0.6);
    z-index: 9999;
    align-items:center;
    justify-content: center;
    display:none;
}

.qrcode-container-flex{
    display:flex;
    width:100%;
    height:100%;
}

.qrcode-container-caixa {
    display:block;
    position: absolute;
    width: 240px;
    height: 470px;
    left: 50%;
    top: 50%;
    margin: -235px 0px 0px -120px;
}

.qrcode-container-caixa .campo { width:calc(100% - 20px) !important; background:#FFF !important; border:0px !important; border-radius:60px !important; padding:10px !important; margin:5px 10px !important; font-size:13px !important; }

.qrcode-container-caixa-sair {
    position:fixed;
    right:20px;
    top:20px;
    color:#FFFFFF;
    font-size:36px;
}

.qrcode-container-caixa-texto {
    text-align:center;
    font-size:15px;
    color: #FFFFFF;
    font-weight:bold;
    padding:50px 0px 40px 0px;
}

.qrcode-container-caixa-codigo {
    border:2px solid #4c359c;
    width:200px;
    height:200px;
    margin:0px auto;
}

.qrcode-container-caixa-campo {
    width:240px;
    padding:40px 0px 0px 0px;
}

.qrcode-container-caixa-campo-texto {
    text-align:center;
    font-size:15px;
    color: #FFF;
    font-weight:bold;

}

.qrcode-container-caixa-campo-botao {
    text-align:center;
    color:#FFFFFF;
    font-weight:bold;
    font-size:13px;
    background:#e89110;
    border-radius:60px;
    padding:10px 0px;
    margin:10px 80px;
    margin-bottom:30px;
}




:root {
    --f7-device-pixel-ratio: 2;
}